.container{
    position: fixed;
    width: 100%;
    bottom:0;
    left:0;
    padding: 0;
    background-color: rgba(255,255,255,1);
    cursor: pointer;
    z-index: 1000;
    margin-bottom: -600px;
    transition: .3s ease-in-out;
}

.container.active{
    margin-bottom: 0;
}

.row{
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

.backdrop{
    position: fixed;
    height: 100%;
    width: 100%;
    bottom:0;
    left:0;
    margin-bottom: -600px;
    background-color: rgba(0,0,0,0.25);
    z-index: 900;
}

.backdrop.active{
    margin-bottom: 0;
}