.playlist-item-container{
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.info-container {
  flex:1
}

.title-container{
  display: flex;
  flex-direction: row;
  margin: 0 0 6px;
}

.state-container{
  padding-top: 2px;
  width:20px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 0
}

.channel-name{
  font-size: 12px;
  font-weight: thin;
  text-align: left;
  color: grey;
}

.play-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: red;
  padding: 3px 4px;
  border-radius: 4px;
}
.header-button{
  border: 0;
  background-color: white;
  width: 100%;
}
.header-button-icon{
  height: 20px;
  width: 20px;
}

.header-container{
  display: flex;
  flex-direction: row;
}
.header-left-container{
  flex:1;
}
.header-right-container{
  flex:1;
}
.empty-container{
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.empty-message{
  font-size: 16px;
  font-weight: bold;
}

.playlist-container{
  padding: 8px 0
}